
<div class="popup-div">
	<img src= "../asset/heros/steamLogo.png">
	<div class = 'textContent'>
	<h4>Created by: </h4>
			<p><strong>M G K</strong></p>
			<hr>
			<h4>GitHub</h4>
			<p class = 'githubLinks'>
				<a href="https://github.com/mchaperc" target="_blank">Matt Chastain</a>
				<a href="https://github.com/badview08" target="_blank">Gabriel Jones</a>
				<a href="https://github.com/skrich-x" target="_blank">Kyle Richardson</a>
			</p>
		<div class="instructions">
			<h3> Instructions</h3>
				<p>-Select your Hero-<br>-The Enemy and Fight Arena will be Selected at Random-<br>-Press the <strong>SPACEBAR</strong> to Attck-<br>-Wait for Enemy to Attack-<br>-Press <strong>SPACEBAR</strong> to attack Again!!-<br>*(First player to Deplete their enemies Health bar to 0 <strong>WINS!!</strong>)*</p>
		</div>
	</div>
		<div class="footer-div">
			<button class="characterSelectButton">Select Your Hero</button>

		</div>
</div>
<div class = "center-container">
	<div class="selection-container">
		<h2 class = "headings"><i class="fa fa-cog fa-spin"></i>  PLEASE CHOOSE YOUR HERO  <i class="fa fa-cog fa-spin"></i></h2>
		<div class="hero-selection">
			<ul>
				<li class="hero">
					<img id="hero1" src="../asset/heros/hero1.png">
				</li>
				<li class="hero">
					<img id="hero2" src="../asset/heros/hero2.png">
				</li>
				<li class="hero">
					<img id="hero3" src="../asset/heros/hero3.png">
				</li>
			</ul>
		</div>
		<h2 class = "headings"><i class="fa fa-cog fa-spin"></i>  YOUR BATTLEGROUND  <i class="fa fa-cog fa-spin"></i></h2>
		<div class="random-location">
			<ul>
				<li class="arena">
					<img id = "arena1" src="../asset/locations/arena1copy.png">
				</li>
				<li class="arena">
					<img id = "arena2" src="../asset/locations/arena2copy.png">
				</li>
				<li class="arena">
					<img id = "arena3" src="../asset/locations/arena3copy.png">
				</li>
			</ul>
		</div>
		<h2 class = "headings"><i class="fa fa-cog fa-spin"></i>  YOUR ENEMY AWAITS  <i class="fa fa-cog fa-spin"></i></h2>
		<div class="random-villain">
			<ul>
				<li class="villain">
					<img id = "villain1"  src="../asset/villain/villain1.png">
				</li>
				<li class="villain">
					<img id = "villain2" src="../asset/villain/villain2.png">
				</li>
				<li class="villain">
					<img id = "villain3" src="../asset/villain/villain3.png">
				</li>
			</ul>
		</div>

	<button class = "fightButton">Press to Fight!!</button>
	</div>
</div>
