<header class="fight-header">
	<div class="villain-info">
		<h3 class="villain-name">Villain HP</h3>
		<div class="health-red villain">
			<div class="health-green villain"></div>
		</div>
		<div class="magic-purple-villain">MP</div>
	</div>
	<div class="hero-info">
		<h3 class="hero-name">Hero HP</h3>
		<div class="health-red hero">
			<div class="health-green hero"></div>
		</div>
		<div class="magic-purple-hero">MP</div>
	</div>
	<img src="" alt="" class="logo">
</header>

<section class="fight-content">
	<div class="villain-img">
		<h3 class="damage"></h3>
		<img class="img-villain" src="" alt="">
	</div>
	<div class="hero-img">
		<h3 class="damage"></h3>
		<img class="img-hero" src="" alt="">
	</div>

	<button class="show-footer">Show</button>
</section>

<footer class="fight-status">
	<h2 class="instructions">Instructions:</h2>
	<p class="instructions">SPACE: Basic Attack</p>
	<p class="instructions">X: Magic Attack</p>
	<p class="instructions">Inventory Items (1 of each): 1) Healing Potion 2) Bomb 3) Double-Strike!</p>
	<h2 class="villain-turn">{{villain-name}}Villain's turn!</h2>
	<button class="hide-footer">Hide</button>
</footer>